*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#0d0d0d;
font-family:'Poppins',sans-serif;
color:white;

}

.hero{

padding:50px 20px;
text-align:center;

}

.logo{

width:120px;
margin-bottom:20px;

}

.hero h1{

font-size:3rem;
color:#FFD700;

}

.hero p{

margin-top:10px;
opacity:.8;

}

.whatsapp-btn{

display:inline-block;
margin-top:25px;

padding:15px 30px;

background:#25D366;

color:white;

text-decoration:none;

border-radius:50px;

font-weight:600;

}

#menu{

padding:20px;

display:flex;
flex-direction:column;
gap:30px;

}

.card{

background:#1a1a1a;

border-radius:25px;

overflow:hidden;

box-shadow:0 0 20px rgba(255,215,0,.15);

}

.card img{

width:100%;
height:260px;

object-fit:cover;

}

.info{

padding:20px;

}

.info h2{

color:#FFD700;
font-size:2rem;

}

.descripcion{

margin-top:10px;
opacity:.8;

}

.precio{

margin-top:15px;

font-size:2rem;

font-weight:bold;

color:#FFD700;

}

.btn{

display:block;

text-align:center;

margin-top:20px;

padding:15px;

background:#25D366;

border-radius:15px;

color:white;

text-decoration:none;

font-weight:600;

}

.contacto{

text-align:center;

padding:60px 20px;

}

.contacto h2{

color:#FFD700;

margin-bottom:15px;

}